
.card{
    width: 500px;
    display: inline-flex;
    margin:1rem;

}

.main-nav{
    margin-left: auto;
    display: flex;
}
.sign_button{
    margin-right:5px;
}

.user_info{
    margin:5px 10px;
}

.sign{
    margin-right: 30px;
}

.bi-person-square{
   font-size: 30px;
  color: black;
}
.content_container{
    margin-top:5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
aside{
    margin-left: 50px;
    margin-top: 15px;
    float: left;
    width: 30%;
}

.btn-search_price{
    margin: 5px 100px;
}

section{
    float: right;
    width: 63%;
}

footer{
    margin-bottom: 3rem;
    clear: both;
}

.log_out{
    margin: 0;
    padding: 0;
    border: 0; outline: none;
    background-color: transparent;

}